<!DOCTYPE html>

<html>

<head>
</head>
<title>{{name}}</title>

<body>
    {{>header}}
    <form id="location_form">
        <input type="text" placeholder="Loaction" name="address" value="" id="location_input"/>
        <button type="submit">Submit</button>
    </form>
    {{>footer}}
    {{>assets}}
</body>

</html>